.col-centered{
    float: none;
    margin: 0 auto;
}

.firbut{
    background: color #649981 ;
    background-color:#649981 ;
     border-radius: 25px; 
    color: white;
    width: 251px;
    height: 58px;
    font-size: 24px;
}

.cards-container {
    column-count: 2;
    /* width: 90%; */
    margin: 0 auto; 
    float: none; 
    margin-top: 15%;
    column-gap: 0;
    height: 40%;
}

.card{
    width: 99%;
    height: 45%;
    padding-right: 0;
    padding-left: 0;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 30%;
}
#form{
    border-top-left-radius: 10px;
}

#trainer{
    border-bottom-left-radius:10px;
}

#trainee{
    border-top-right-radius:10px;
}
#Uni{
    border-bottom-right-radius:10px;
}
.card-text{
    font-size: 20px;
    text-align: center;
    margin-top: 13%;
}


