.col-centered{
    float: none;
    margin: 0 auto;
}

.firbut{
    background: color #649981 ;
    background-color:#649981 ;
     border-radius: 25px; 
    color: white;
    width: 251px;
    height: 58px;
    font-size: 24px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.card {
    height: 40%;
}
  
#form{
    border-top-left-radius: 10px;
    width: 60%;
}
#trainer{
    border-bottom-right-radius:10px;
    width: 60%;
}
#trainee{
    border-bottom-left-radius:10px;
    width: 60%;

}
#Uni{
    border-top-right-radius:10px;
    width: 60%;

}
.card-text{
font-size: 20px;
padding: 2px;
}

footer{
    text-align: center;
    position: fixed;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
    width: 95%; 
}


