footer{
    text-align: center;
    position:fixed;
    bottom: 5px;  
<<<<<<< HEAD
    right: 10px;   
    width: 95%; 
    background-color: #eee;}
=======
    width: 100%; 
    background-color: #eee;
}
>>>>>>> 354b630796724ba7132bfd8cedc8b02ff9b7db9b

