<app-header></app-header>
<html>
<form [formGroup]="loginForm">
  <div class="imgcontainer">

  </div>

  <div class="container">

      <label for="email"><b>Email</b></label>
      <div class="col container">
          <input class="form-control" type="email" placeholder="Enter your Email" name="email" required formControlName="email" [ngClass]="{ 'is-invalid': valida['email'].errors }">
          <div style=" margin-top: 0%; padding-top: 0%; " *ngIf=" loginForm.controls[ 'email'].errors ">
              <div class="req " *ngIf="valida[ 'email'].errors?.[ 'required'] " class="alert alert-danger">Please enter your Email</div>
          </div>
      </div>


      <label for="pass"><b>Password</b></label>
      <div class="col container">
          <input class="form-control" type="password" placeholder="Enter your Password" name="pass" required formControlName="pass" [ngClass]="{ 'is-invalid': valida['pass'].errors }">
          <div style=" margin-top: 0%; padding-top: 0%; " *ngIf=" loginForm.controls[ 'pass'].errors ">
              <div class="req " *ngIf="valida[ 'pass'].errors?.[ 'required'] " class="alert alert-danger">Please enter your Password</div>
          </div>
      </div>

      <button (click)="submit()" type="submit " [disabled]="!loginForm.valid" value="Submit">Login</button>
  </div>

</form>
<h6> Don't have an account? <a href="/SignUp">SignUp</a></h6>


<app-footer></app-footer>