body{
    width: 40%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.firbut{
    background: color #649981 ;
    background-color:#649981 ;
     border-radius: 25px; 
    color: white;
    width: 251px;
    height: 58px;
    font-size: 24px;
}

.cards-container {

    display: grid;
    height: 140px;
    margin: 0 auto; 
    float: none; 
    text-align: center;
    background-color: #fff;
     margin-top: 15%;
     row-gap:0 !important;
     column-gap:0 !important;
}

.col{
    column-gap:0 !important;

}

.row{
    row-gap:0 !important;
        --bs-gutter-x: -0.5rem;
}

.card{
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0;
    
}

img{
    height:20%;
    width: 50%;
    padding-top: 20px;
}

#form{
    border-top-left-radius: 10px;
    margin-left: 20px !important;
}

#trainer{
    border-top-right-radius:10px;
    padding-top:10px ;
    margin-right: 20px !important;
}

#trainee{
    border-bottom-left-radius:10px;
    margin-left: 20px !important;

}
#Uni{
    border-bottom-right-radius:10px;
    margin-right: 20px !important;

}
.card-text{
    font-size: 17px;
    text-align: center;
    margin-top: 13%;
}

