/* form{
  margin-top: 10%;
} */

img{
  width:60px;
  margin: 1%;
}

h1{
  font-size: 30px;
}

h2{
  margin-left:2%;
}
input{
  width: 24%;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border: 1px solid #649981;
  height: 61px;
}
textarea{
  width: 75%;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border: 1px solid #649981;
  height: 143px;
  margin-left: 18%;
  margin-top: -23px;

}

.submit{
  background-color: #649981;
    color: white;
    padding: 11px 33px;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    border-radius: 53px;
    margin: 0 auto;
    font-size: 23px;
    display: list-item;
    margin-top: 9%;
}


.tasks{
  padding: 22px 9px;
  margin: -1%;
}
input{
  width: 30px;
}
label{
  background: white;
  height: 69px;
  display: block;
  border-bottom: 1.5px solid #2C3E50;
  color: black;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 20px;
  text-indent: 5px;
  transition: all 0.7s ease;
  position: relative;
  padding: 2px;
}

label h2 span{
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: black;
  margin-left: 10%;
  }
  label h2 input{

    width: 20px;
    height: 30px;
    margin-bottom: 10%;
  }

#label-1:checked ~ label[for=label-1],
#label-2:checked ~ label[for=label-2],
#label-3:checked ~ label[for=label-3],
#label-4:checked ~ label[for=label-4],
#label-5:checked ~ label[for=label-5]{
  /* background: #5a5a5a; */
  background: #0c80f4b4;

  border-bottom: 5px solid #5a5a5a;
  color: white;
}
#label-1:checked ~ label[for=label-1] h2 span,
#label-2:checked ~ label[for=label-2] h2 span,
#label-3:checked ~ label[for=label-3] h2 span,
#label-4:checked ~ label[for=label-4] h2 span,
#label-5:checked ~ label[for=label-5] h2 span{
  color: whitesmoke;
}
h3{
   text-align: center;
    font-size: 174%;
    margin-top: -8%;
}
mat-icon {
  font-size: xx-large;
  float: left;
  margin-left: 3%;
  margin-top: -24%;
  position: relative;
  color: white;
}  
label h2 input{
  width: 20px;
  height: 30px;
  width: 26px;
  height: 24px;
  margin: 2%;
  padding: 57%;
}