<app-header></app-header>
<ul style="list-style-type:none;">
    <button (click)="goToPage('evaluationscreen')" class="btn btn-success twoB" >Evaluate</button>
    <li>Nagham</li>
     <hr>
     <button (click)="goToPage('evaluationscreen')" class="btn btn-success twoB" >Evaluate</button>
   
    
    <li>Nagham</li>
    <hr>
    <button (click)="goToPage('evaluationscreen')" class="btn btn-success twoB" >Evaluate</button>
    <li>Nagham</li>
    <hr> 
    <button (click)="goToPage('evaluationscreen')" class="btn btn-success twoB" >Evaluate</button>     <li>Nagham</li>
    <hr>
    <button (click)="goToPage('evaluationscreen')" class="btn btn-success twoB" >Evaluate</button>    <li>Nagham</li>
    <hr>
    <button (click)="goToPage('evaluationscreen')" class="btn btn-success twoB" >Evaluate</button>    <li>Nagham</li>
    <hr>
    <button (click)="goToPage('evaluationscreen')" class="btn btn-success twoB" >Evaluate</button>    <li>Nagham</li>
    <hr>
    <button (click)="goToPage('evaluationscreen')" class="btn btn-success twoB" >Evaluate</button>    <li>Nagham</li>
    <hr>
    <button (click)="goToPage('evaluationscreen')" class="btn btn-success twoB" >Evaluate</button>    <li>Nagham</li>
    <hr>

  </ul>