<ul style="list-style-type:none;">
    <button>Evaluate</button>
    <li>Nagham</li>
     <hr>
    <button>Evaluate</button>
   
    
    <li>Nagham</li>
    <hr>
    <button>Evaluate</button>
    <li>Nagham</li>
    <hr> 
    <button>Evaluate</button>  
     <li>Nagham</li>
    <hr>
    <button>Evaluate</button>
    <li>Nagham</li>
    <hr>
    <button>Evaluate</button>
    <li>Nagham</li>
    <hr>
    <button>Evaluate</button>
    <li>Nagham</li>
    <hr>
    <button>Evaluate</button>
    <li>Nagham</li>
    <hr>
    <button>Evaluate</button>
    <li>Nagham</li>
    <hr>

  </ul>