<app-header></app-header>
<mat-icon (click)="goToPage('Uni-trainees')">keyboard_backspace</mat-icon>

<div>
    <div class=" container mt-4 mb-4 p-3 d-flex justify-content-center ">
        <div class="card container d-flex flex-column align-items-center ">

            <div>
                <img style="margin-right: 15px;" class="responsive" src="assets/Favatar.png " /><br>

                <p style="position: initial;">
                    {{traineee.UserName}}
                </p>
            </div>

            <br><br>
            <button (click)="goToPage('Trainee-report')" class="btn btn-success allB ">Training Hours</button><br>

            <button (click)="goToPage('Trainee-report')" class="btn btn-success allB ">Reports</button><br>

            <!-- <button (click)="goToPage('evaluationscreen')" class="btn btn-success allB ">Evaluation </button><br> -->

            <!-- <button (click)="goToPage('certificate')" class="btn btn-success allB ">Certificate </button><br> -->
            <br>
        </div>
    </div>
</div>
<app-footer></app-footer>
