<h1 style="text-align: center;">My Trainees List</h1>
<ul style="list-style-type:none;">
    <li>Nagham</li>
    <hr style="width:100%;text-align:left;margin-left:0">

    <li>Nagham</li>
    <hr style="width:100%;text-align:left;margin-left:0">

    <li>Nagham</li>
    <hr style="width:100%;text-align:left;margin-left:0">
    <li>Nagham</li>
    <hr style="width:100%;text-align:left;margin-left:0">

    <li>Nagham</li>
    <hr style="width:100%;text-align:left;margin-left:0">

    <li>Nagham</li>
    <hr style="width:100%;text-align:left;margin-left:0">

    <li>Nagham</li>
    <hr style="width:100%;text-align:left;margin-left:0">

    <li>Nagham</li>
    <hr style="width:100%;text-align:left;margin-left:0">

    <li>Nagham</li>
    <hr style="width:100%;text-align:left;margin-left:0">


  </ul>