<app-header>{{Title}}</app-header>
<!DOCTYPE html>
<html>
    <form action="action_page.php" method="post">
    <div class="imgcontainer">
      
    </div>
  
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter your Email address" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter your Password" name="psw" required>
  
      <button type="submit">Login</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
    </div>
  </form>
  <!DOCTYPE html>
<html>
<body>

<a href=""(click)="goToPage('SignUp')" >Don't have an account? SignUp</a> 
</body>
</html>

</html>
<app-footer></app-footer>
