body {
    font-family: Calibri, Helvetica, sans-serif;
    /* background-color: ; */
  }
  
  .header {
    background-color: #046926;
    text-align: center;
    color: white;
  }
  
  .container {
    padding: 1px;
  }
  
  input[type=text],
  input[type=number],
  input[type=file],
  input[type=email],
  input[type=date],
  input[type=password],
  textarea {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    margin-left: 2%;
  }
  
  input[type=text]:focus,
  input[type=number]:focus,
  input[type=file]:focus,
  input[type=date]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    background-color: #afb4b1;
    outline: none;
  }
  
  label{
    margin-left: 3%;
    font-size: 18px;
  }
  div {
    padding: 10px 0;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }

  button{
  width: 136px;
  border:none;
  font-size: 27px;
  margin-right: auto;
  margin-left: auto;
  display: list-item;
  border-radius: 25px;
  background-color: #4CAF50;
  color: white;
  }

  .avaliable input{
    width: 83px;
    height: 50px;
    margin-top: 2%;
  }

  .avaliable #checkbox{
    height: 25px;
    width: 60px;
  }