.worn {
    color: red;
}

label,
input {
    margin-top: 15px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.image {
    height: 50%;
    width: 50%;
}

p {
    margin-top: 0;
}

.image {
    width: 70%;
    height: 200px;
}

.img {
    /* background-image: ; */
}