body {
  font-family: Calibri, Helvetica, sans-serif;
  /* background-color: ; */
}

.header {
  background-color: #046926;
  text-align: center;
  color: white;
  position: absolute;
}

.container {
  padding: 1px;
}

mat-icon {
  font-size: xx-large;
  float: left;
  margin-left: 3%;
  margin-top: -24%;
  position: relative;
  color: white;
}  
 

input[type=text],
input[type=number],
input[type=file],
input[type=email],
input[type=date],
input[type=password],
textarea {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin-left: 2%;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=file]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=password]:focus {
  background-color: #afb4b1;
  outline: none;
}

label {
  margin-left: 3%;
  font-size: 18px;
}

div {
  padding: 10px 0;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

button {
  width: 136px;
  border: none;
  font-size: 27px;
  margin-right: auto;
  margin-left: auto;
  display: list-item;
  border-radius: 25px;
  background-color: #4CAF50;
  color: white;
}

.avaliable input {
  width: 83px;
  height: 50px;
  margin-top: 2%;
}

.avaliable #checkbox {
  height: 25px;
  width: 60px;
}


/*
new style
*/


/* #msform {
text-align: center;
position: relative;
margin-top: 30px;
} */


/* #msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
} */


/*Hide all except first fieldset*/


/* #msform fieldset:not(:first-of-type) {
  display: none;
} */


/*inputs*/


/* #msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
} */


/* #msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ee0979;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
} */


/*buttons*/

#msform .action-button {
  width: 100px;
    font-weight: bolder;
    color: #000000;
    border: 0 none;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: large;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ca11;
}

#msform .action-button-previous {
  width: 100px;
  background: #649981;;
  font-weight: bold;
  color: white;
  border: 0 none;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}


/*headings*/


/* .fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
} */


/* .fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
} */


/*progressbar*/

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
    margin-left: -8%;
}


#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  /* content: counter(step); */
  content: '';
  counter-increment: step;
  width: 15px;
  height: 15px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}


/*progressbar connectors*/

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
  /* background: #07ec4c; */
  color: white;
  background: #00B74A;
}

#progressbar li.inactive:before {
  /* background: burlywood; */
  color: #000;
  background: white;
  border: 1px solid black;
}

fieldset {
  /* for chrome and safari*/
  -webkit-animation-duration: .25ms;
  -webkit-animation-name: slidein;
  /*for firefox*/
  -moz-animation-duration: 1s;
  -moz-animation-name: slidein;
  /* for opera*/
  -o-animation-duration: 1s;
  -o-animation-name: slidein;
  /* Standard syntax*/
  animation-duration: 1s;
  animation-name: slidein;
}

.req {
  margin-top: 0%;
  padding-top: 0%;
  color: red;
}


/* @-webkit-keyframes slidein {
  from {
      margin-right: 100%;
      width: 300%;
  }
  to {
      margin-right: 0%;
      width: 100%;
  }
} */


/* @-moz-keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }
  to {
      margin-left: 0%;
      width: 100%;
  }
} */


/* @-o-keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }
  to {
          width: 100%;
  }
} */


/* @keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }
  to {
      margin-left: 0%;
      width: 100%;
  }
} */


.form-control{
  width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border: 1px solid #649981;

}
.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

h3{
  font-size: 20px;
  margin-top: 17%;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-size: 20px;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 6px;
  right: 19px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: red;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  
  .popup{
    width: 70%;
    margin-bottom: 159%;
    width: 70%;
    background-color: whitesmoke;
    margin-top: -145%;
    padding-bottom: 15%;

  }
}
  .popbutton{
     border-radius: inherit;
    background-color: #649981;
    padding-bottom: 7%;
    padding-top: 6%;
    margin-top: 22%;
    width: 38%;
}

h3{
  margin-top: 10%;
}
