input{
    width: 50%;
  padding: 7px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border: 1px solid rgb(17, 226, 10);
}
textarea{
 width: 50%;
  padding: 20px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border: 1px solid rgb(17, 226, 10);
}

button {
    background-color: #649981;;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    border-radius: 25px;
    clear: both;
    display:inline-block;
    clear: both;
    margin: 0 auto;


  }
button:hover{
    background: rgb(4, 105, 4);
}
