<app-header></app-header>
<mat-icon (click)="goToPage('Trainee-profile')">keyboard_backspace</mat-icon>

<br>
<div class="tasks">

  <h3> <b> Please select the tasks that you've done</b></h3> <br>
  <label for='label-1'>
    <h2><input id='label-1' type='checkbox' checked />Set up first flutter application
    </h2>
  </label>

  <label for='label-3'>
    <h2>  <input id='label-3' type='checkbox' />
Design web page
    </h2>
  </label>


</div><br>
<button type="button" class="btn btn-outline-success">Save</button>