<!DOCTYPE html>
<html>

<app-header>  </app-header>
<mat-icon (click)="goToPage('')">keyboard_backspace</mat-icon>

<body>
    <div class="row">
        <form [formGroup]="personal1Details" id="msform">
            <div class="container">
                <ul id="progressbar">
                    <li [ngClass]="step>=1 ? 'active ' : 'inactive'">First Step</li>
                    <li [ngClass]="step>=2 ? 'active' : 'inactive'">Second Step</li>
                    <li [ngClass]="step==3 ? 'active' : 'inactive'">Last Step</li>
                </ul>

                <fieldset *ngIf="step == 1">
                    
                        <div class="col container">
                            <input class="form-control" type="text" formControlName="fname" [ngClass]="{ 'is-invalid': personal1_step && personal1['fname'].errors }" placeholder="First name">
                            <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal1_step && personal1Details.controls['fname'].errors">
                                <div class="req" *ngIf="personal1['fname'].errors?.['required']">The first name is required</div>
                            </div>
                            
                        </div>
                                
                        <div class="col container">
                            <input class="form-control" type="text" formControlName="lname" [ngClass]="{ 'is-invalid': personal1_step && personal1['lname'].errors }" placeholder="Last name">
                            <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal1_step && personal1Details.controls['lname'].errors">
                                <div class="req" *ngIf="personal1['lname'].errors?.['required']">The last name is required</div>
                            </div>
                        </div>

                
                    <input class="form-control" type="text" formControlName="PhoneNo" name="PhoneNo" [ngClass]="{ 'is-invalid': personal1_step && personal1['PhoneNo'].errors }" placeholder="Your PhoneNo number with country code +97X XXX ..." />
                    <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal1_step && personal1Details.controls['PhoneNo'].errors">
                        <div class="req" *ngIf="personal1['PhoneNo'].errors?.['required']">Phone number is required</div>
                    </div>

                   
                    <input class="form-control" type="text" formControlName="studentid" [ngClass]="{ 'is-invalid': personal1_step && personal1['phone'].errors }" name="studentid" placeholder="Student ID Number" />
                    <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal1_step && personal1Details.controls['studentid'].errors">
                        <div class="req" *ngIf="personal1['studentid'].errors?.['required']">ID is required</div>
                    </div>

                   
                    <input class="form-control" type="email" formControlName="email" [ngClass]="{ 'is-invalid': personal1_step && personal1['email'].errors }" name="email" placeholder="Enter Your Email" />
                    <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal1_step && personal1Details.controls['email'].errors">
                        <div class="req" *ngIf="personal1['email'].errors?.['required']">Email is required</div>
                    </div>

                    
                    <input class="form-control" type="text" formControlName="address" [ngClass]="{ 'is-invalid': personal1_step && personal1['address'].errors }" name="address" placeholder="Enter Your address" />
                    <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal1_step && personal1Details.controls['address'].errors">
                        <div class="req" *ngIf="personal1['address'].errors?.['required']">Address is required</div>
                    </div>
                    <br><br>
                    <input (click)="next()" type="button" name="next" class="next action-button butt-center" value="Next" />
                </fieldset>
            </div>
        </form><br>
        <form [formGroup]="personal2Details" id="msform">
            <div class="container">
                <fieldset *ngIf="step == 2">

                    
                    <input class="form-control" type="text" formControlName="university" [ngClass]="{ 'is-invalid': personal2_step && personal2['university'].errors }" name="university" placeholder="University name" />
                    <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal2_step && personal2Details.controls['university'].errors">
                        <div class="req" *ngIf="personal2['university'].errors?.['required']">University name is required</div>
                    </div>

                    
                    <input class="form-control" type="text" formControlName="subphone" placeholder="University Supervisor phone number" />
                    <!-- <div *ngIf="personal2_step && personal2Details.controls['subphone'].errors">
                        <div style=" padding-top: 0%;" *ngIf="personal2['subphone'].errors?.['required']">Supervisor phone number is required</div>
                    </div> -->

                    <label>
                        <b> Corona vaccination certificate :</b> 
                    </label>
                    <input class="form-control" type="file" formControlName="corona" placeholder="Upload your corona vaccination certificate" />
                    <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal2_step && personal2Details.controls['corona'].errors">
                        <div class="req" *ngIf="personal2['corona'].errors?.['required']">vaccination certificate is required</div>
                    </div>

                    
                    <input class="form-control" type="text" formControlName="feild" placeholder="Enter your field of study" />
                    <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal2_step && personal2Details.controls['feild'].errors">
                        <div class="req" *ngIf="personal2['feild'].errors?.['required']">Feild is required</div>
                    </div>

                    <label>
                        <b>Expected day of graduation :</b>
                      </label>
                    <input class="form-control" type="date" min="2022-01-01" formControlName="daygrad" placeholder="" />
                    <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal2_step && personal2Details.controls['daygrad'].errors">
                        <div class="req" *ngIf="personal2['ExpectedDOGrad'].errors?.['required']">Expected day of graduation is required</div>
                    </div>

                    
                    <input class="form-control" type="text" formControlName="avg" placeholder="Enter your total average">
                    <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal2_step && personal2Details.controls['avg'].errors">
                        <div class="req" *ngIf="personal2['avg'].errors?.['required']">Total Avg is required</div>
                    </div>
                    <br><br>
                    <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
            </div>
        </form><br>
        <form [formGroup]="personal2Details" id="msform">
            <div class="container">
                <fieldset *ngIf="step == 3">

                    <label>
                        <b>The training is :</b>
                      </label><br>
                    <input type="radio" formControlName="training" value="Mandatory" placeholder="" name="training" checked/>Mandatory<br>
                    <input type="radio" formControlName="training" value="Optional" placeholder="" name="training" />Optional
                    <!-- <div *ngIf="personal3_step && personal3Details.controls['training'].errors">
                    <div *ngIf="personal3['training'].errors?.['required']"> is required</div>
                </div> -->

                    <div class="DaysAvailable">
                        <label>
                            <b>Days and hours available for each day :</b>
                          </label><br>
                        <input id="checkbox" type="checkbox" name="sat" value="sat">
                        <label for="sat"> <b>Saturday</b> <br> From <input type="time"> To <input type="time"> </label> <br>
                        <input id="checkbox" type="checkbox" name="sun" value="sun">
                        <label for="sun"> <b>Sunday</b> <br> From <input type="time"> To <input type="time"> </label><br>
                        <input id="checkbox" type="checkbox" name="mon" value="mon">
                        <label for="mon"> <b>Monday</b> <br> From <input type="time"> To <input type="time"> </label><br>
                        <input id="checkbox" type="checkbox" name="tue" value="tue">
                        <label for="tue"> <b>Tuesday</b> <br> From <input type="time"> To <input type="time"> </label><br>
                        <input id="checkbox" type="checkbox" name="wed" value="wed">
                        <label for="wed"> <b>Wednesdat</b> <br> From <input type="time"> To <input type="time"> </label><br>
                        <input id="checkbox" type="checkbox" name="thu" value="thu">
                        <label for="thu"> <b>Thursday</b> <br> From <input type="time"> To <input type="time"> </label> <br><br>
                    </div>

                    
                    <input class="form-control" type="text" formControlName="reqtraining" placeholder="Required training hours.." />
                    <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal3_step && personal3Details.controls['reqtraining'].errors">
                        <div class="req" *ngIf="personal3['reqtraining'].errors?.['required']">Required training hours is required</div>
                    </div>

                    <label>
                  <b>Upload university request for training :</b>
                </label>
                    <input class="form-control" type="file" formControlName="UniversityDoc" placeholder="" />
                    <div style="margin-top: 0%; padding-top: 0%;" *ngIf="personal3_step && personal3Details.controls['UniversityDoc'].errors">
                        <div class="req" *ngIf="personal3['UniversityDoc'].errors?.['required']">University request for training is required</div>
                    </div>
                    <br><br>
                    <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    <input (click)="submit()" type="submit" name="submit" class="submit action-button butt-center" value="Submit" />
                </fieldset>
            </div>
        </form><br>
    </div>
</body>

</html>
<app-footer></app-footer>