<!-- <div id="myDIV" class="header">
    <h2>
      <b>Welcome Dear</b> <br>You have to complete these tasks
    </h2><hr>
  </div>
  
  
  
  <div class="tasks">
  
    <input id='label-1' type='checkbox' checked/>
    <label for='label-1'>
      <h2>Set up first flutter application
        <span>oatmeal, fruits &amp; morning tea</span>
      </h2>   
    </label>
  
    <input id='label-2' type='checkbox' checked/>
    <label for='label-2'>
      <h2>Set up first angular application 
        <span>art&amp;&amp;code, personal</span>
      </h2>   
    </label>
  
    <input id='label-3' type='checkbox'/>
    <label for='label-3'>
      <h2>Design web page
        <span>out of my mind</span>
      </h2>   
    </label>
  
    <input id='label-4' type='checkbox'/>
    <label for='label-4'>
      <h2>Review coding
        <span>hit f12 &amp; let's get wasted</span>
      </h2>   
    </label>
  
    <input id='label-5' type='checkbox'/>
    <label for='label-5'>
      <h2>Create database
        <span>Ruby on Rails, yeah!</span>
      </h2>   
    </label>
    <button class="butt-center"> Daily Reports and Training hours </button>
  </div> -->