
body {
  background-color: black;
  padding: 20px;
  font-size: 2em;
}

#main {
  padding: 40px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#text {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  color: #606060;
  text-align: center;
  width: 100%;
  font-size: 0.7em;
}

.linkStyle {
  background-color: #66AC38;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.8em;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

.unstyled {
  list-style-type: none;
}

.done-true {
  text-decoration: line-through;
  color: #66AC38;
}

.newItem {
  font-size: 0.7em;
}