.hr{
    width:50%;
    text-align:left;
    margin-left:0;
}
button{
    background-color: #649981;
    border-radius: 25px;
    color: white;
    border: rgb(17, 226, 10);;
    float: right;
    font-size: 16px;
    /* padding: 1px; */
}

li{
    height: 30px;
    font-size: 20px;
}
mat-icon {
    font-size: xx-large;
    float: left;
    margin-left: 3%;
    margin-top: -24%;
    position: relative;
    color: white;
  }  