<app-header></app-header>
<mat-icon (click)="goToPage('evaluatetrainee')">keyboard_backspace</mat-icon>

    <h1> <img src="../../assets/Favatar.png"> Nagham Hijje</h1>

    <h2> Total Hours:&nbsp;&nbsp;&nbsp;<br></h2>
    <br> <br>
    <h3> Tasks Evaluation</h3>

    <div class="tasks">

      
        <label for='label-2'>
          <h2>  <input id='label-2' type='checkbox' checked  />
      Front end learning
            <span>art&amp;&amp;code, personal</span>
          </h2>
        </label>
      
        <label for='label-3'>
          <h2>  <input id='label-3' type='checkbox' />
      Web pages design
            <span>out of my mind</span>
          </h2>
        </label>
      
        <label for='label-4'>
          <h2>  <input id='label-4' type='checkbox' />
      flutter learning
      <br> <br>
           
      


    <h2> Notes: </h2>&nbsp;&nbsp;&nbsp;<textarea name="notes"></textarea>
  
    <div class="clearfix">

        <button type="submit" class="submit">Confirm</button>

      </div>
   
  <app-footer></app-footer>

  