form{
  margin-top: 10%;
}

img{
  width:60px;
}
h1{
  font-size: 30px;
}

h2{
  margin-left: 10%;
}
input{
  width: 24%;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border: 1px solid #649981;
  height: 61px;
}
textarea{
  width: 70%;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border: 1px solid #649981;
  height: 125px;
  margin-left: 23%;
  margin-top: -4px;
}

.submit{
  background-color: #649981;
    color: white;
    padding: 18px 33px;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    border-radius: 25px;
    margin: 0 auto;
    font-size: 23px;
    display: list-item;

}
