<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar></mat-toolbar><br>
        <mat-nav-list style="background-color: rgb(207, 207, 207);">
            <a mat-list-item routerLink="/Home">Home</a>
            <a mat-list-item routerLink="/App-form">App form</a>
            <a mat-list-item routerLink="/login">Login</a>
            <a mat-list-item routerLink="/signup">Signup</a>
            <a mat-list-item routerLink="/Create-todolist">Create todolist</a>
            <a mat-list-item routerLink="/ToDolist">ToDolist</a>
            <a mat-list-item routerLink="/Trainee-Access">Trainee Access</a>
            <a mat-list-item routerLink="/Trainee-profile">Trainee profile</a>
            <a mat-list-item routerLink="/Trainer-profile">Trainer profile</a>
            <a mat-list-item routerLink="/Uni-profile">Uni profile</a>
            <a mat-list-item routerLink="/Uni-trainees">Uni trainees</a>
            <a mat-list-item routerLink="/Coming-hours">Coming hours</a>
            <a mat-list-item routerLink="/signup2">Signup2</a>
            <a mat-list-item routerLink="/Trainee-report">Trainee report</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
            <!-- <?span>Menu</span> -->
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>