<app-header></app-header>
<mat-icon (click)="goToPage('Trainer-profile')">keyboard_backspace</mat-icon>

<br>
<div class="todos">

  <div class="text">

    
  <form (submit)="addTodo($event)">
    
    <h3> Create Task List</h3>
  <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="newTodo" placeholder="Tasks">
    <button  type="submit" class="btn btn-outline-success" [disabled]="newTodo===''">Add Task</button>
  </form>
  </div>

  <div [hidden]="!newTodo">
  Typing {{ newTodo }}
  </div>

  <ul class="list-group">
  <li   class="list-group-item" *ngFor="let todo of todos; let i=index">
    <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed" />
  <span [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
  <span (click)="deleteTodo(i)" class="delete-icon"></span>
    </li>
    </ul>
<br><br>
    <div class="mtop20">
  <button  class="btn btn-outline-success " (click)="deleteSelectedTodos()">Delete Selected</button>
  </div>

</div>


 
<app-footer></app-footer>

