hr {
  width: 100%;
  text-align: left;
  margin-left: -4%;
}

h3 {
  font-size: 20px;
  margin-top: 17%;
}

img {
  width: 60px;
}

mat-icon {
  font-size: xx-large;
  float: left;
  margin-left: 3%;
  margin-top: -24%;
  position: relative;
  color: white;
}

li{
  font-size: 20px;
}

.hr{
  width: 60%;
  margin-left: 70px;
}

.list{
  margin-top: 12%;
}