
body {
  background-color: black;
  padding: 20px;
  font-size: 2em;
}

head{
  position: absolute;
}

mat-icon {
  font-size: xx-large;
  float: left;
  margin-left: 3%;
  margin-top: -24%;
  position: relative;
  color: white;
}  
#main {
  padding: 40px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#text {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  color: #606060;
  text-align: center;
  width: 100%;
  font-size: 0.7em;
}

.linkStyle {
  background-color: #66AC38;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.8em;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

.unstyled {
  list-style-type: none;
}

.done-true {
  text-decoration: line-through;
  color: #66AC38;
}

.newItem {
  font-size: 0.7em;
}

form {
  width: 100%;
  padding: 5%;
}
form h3{
  text-align: center;
  font-size: 25px;
}
form input{
  width: 70%;
  display: inline;
}
form ul , li {
  font-size: 18px;
  width: 80%;
  margin-left: 20px;
}
.mtop20 button {
 display: inline-block;
 margin-left: 24px;
}
.done button{
  display: block;
 margin-left: 70px;
}
#done{
  font-size:20px; 
  width: 30%;
}
.checkbox {
  width: 39px;
  height: 17px;
}
.btn-outline-success {
  color: white;
  border-color: #198754;
  background-color: #649981;

}