<div>
    <div class=" container mt-4 mb-4 p-3 d-flex justify-content-center ">
        <div class="card container d-flex flex-column align-items-center ">

            <div>
                <img style="margin-right: 15px;" class="responsive" src="assets/Favatar.png " /><br>

                <p style="position: initial;">
                    Raghad AbuSharar
                </p>
            </div>

            <br><br>
            <button class="btn btn-success allB ">Training Hours</button><br>

            <button class="btn btn-success allB ">Reports</button><br>

            <button class="btn btn-success allB ">Evaluation </button><br>

            <button class="btn btn-success allB ">Certificate</button>
            <br>
        </div>
    </div>
</div>